.list__container{
    column-count: 3;
    margin: var(--spacing-small) 0;
    padding: 5px;
    list-style-type: none;

}
.list__item{
    
}
.list__item a{
    display: inline-block;
    color: var(--color-black);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    
}
.person__img{
    width: 80px;
    height: 90px;
    object-fit: cover;
    margin: 1px;
    object-position: center center;
    border-radius: var( --border-radius-small);
    text-decoration: none;

}
.person__name{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 5px;
    margin-bottom: 10px;
    color: var(--color-white);
    text-shadow:var(--text-shadow-blue);
 
}
.person__comment{
    color: var(--color-white);
    
}
@media screen and (max-width:850px){
    .list__container{
        column-count: 2;
    }
    
}
