.text{
    width: 600px;
    margin: auto;
    margin-top: 100px;line-height: 1.7;
    color: var(--color-yellow);
    text-align: center;
    text-shadow: 0 0 2px var(--color-white);
    font-size: var(--font-size-header);
    -webkit-text-stroke-color: var(--color-yellow);
    -webkit-text-stroke-width: .5px;
    -webkit-text-fill-color: transparent;
}
.video{
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
    margin-top: var(--spacing-large);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-white);
}
@media screen and (max-width: 1020px) {
    .wrapper {
        width: 100%;
        margin: 0;
    }
}