.container{
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 350px;
}
.photo{
    width: 100%;
    height: 100%;
    border-radius: var( --border-radius-medium);
    object-fit: cover;
    object-position: center center;
}
.favorite{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center center;
    filter: drop-shadow(0px 0px 2px #000);
    cursor: pointer;
}
