.wrapper__input{
    --border-radius:3px;
    --border:3px;
    --clear-width:35px;  
}
.input{
    min-width: 300px;
    padding: 10px 15px;
    border:  3px solid  #dfe2df;
    border-radius: var(--border-radius);
    font-size: 16px;
    font-family: var(--font-family-main);
    padding-right: calc(var(--clear-width) + 18px);
    outline: none;  
}
.input:focus{
    border: var(--border) solid lightblue;  
}
.wrapper__input{
    position: relative;
    display: inline-flex;
}
.clear{
    position: absolute;
    top: var(--border);
    right: var(--border);
    width: var(--clear-width);
    height: calc(100% - var(--border)*2);
    padding: 10px;
    object-fit: contain;
    object-position: center center;
    transition: .5s;
    opacity: .6;
    cursor: pointer;
}
.clear__disabled{
    opacity: .3;
}