:root{
  --color-white: #fff;
  --color-black: #000;
  --color-dark-gray: #10100e;
  --color-yellow:#ffff00;
  --color-violet: #ae72c2;
  --color-blue: #6a83fb;
  --color-red: #8B0000;
  --color-pink: #f75d83;


  --font-family-main: sans-serif;

  --border-radius-small: 3px;
  --border-radius-medium: 5px;

  --box-shadow-white:
  0 16px 24px 2px rgba(255, 255, 255, 0.02),
  0 6px 30px 5px rgba(255, 255, 255, 0.04),
  0 8px 10px -5px rgba(255, 255, 255, 0.01);


  --font-size-main: 16px;
  --font-size-header: 26px;
  --font-size-subheader: 18px;
  --width-max: 1200px;

  --spacing-ultra-small:5px;
  --spacing-medium:20px;
  --spacing-large:30px;
  --spacing-small:10px;

  --margin-list:7px;
  --font-bold: 600; 
  --transition: .4s;

  --text-shadow-yellow: 
    0 0 2px var(--color-white),
    0 0 4                                                                                                                                                                                                                                                                       0px var(--color-yellow);

  --text-shadow-blue: 
    0 0 2px var(--color-white),
    0 0 40px var(--color-blue);

  /*THEMES*/
	--theme-light-header:   #dfe2df;
	--theme-dark-header:    #ca6c6f;
	--theme-neutral-header: #cccc46;
	--theme-default-header: var(--theme-neutral-header);

  --theme-light-bgimage:   linear-gradient(to right bottom, #051937, #162454, #312d70, #533389, #7a359f);
  --theme-dark-bgimage:    linear-gradient(to right bottom, #000000, #160b11, #20141e, #281b2e, #2b2440);
	--theme-neutral-bgimage: url(@static/bg.jpeg);
	--theme-default-bgimage: var(--theme-neutral-bgimage);
  /* --theme-default-bgimage: url(@static/bg.jpeg); */
}

*,
*::after,
*::backdrop{
  box-sizing: border-box;
}

body {
  background-color: var(--color-dark-gray);
  font-family: var(--font-family-main);
  margin: 0;
  padding: 0;
  font-size: var(--font-size-main);
  background-image: var(--theme-default-bgimage);
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;

}
img{
  display: block;
}

.header__text{
  line-height: 1.7;
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-default-header);
  transition: color var(--transition);
}
* {
	scrollbar-color: rgb(37, 56, 97) rgba(0, 0, 0, .7);
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(37, 56, 97);
	border-radius: 2px;
}
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, .7);
}
::-webkit-scrollbar-corner {
	background-color: rgba(0, 0, 0, .7);	
}