.container{
    position: relative;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    margin-left: auto;
}
.bookmark{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.counter{
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-style: 13px;
    font-weight: var(--font-bold);
    color: var(--color-black);
    text-decoration: none;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: var(--box-shadow-white);
}