.container {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-large);
}
.logo {
    max-width: 60px;
    max-height: 60px;
    margin-right: var(--spacing-large);
    object-fit: cover;
    object-position: center center;
}
.list__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-shadow: var(--text-shadow-yellow);
}
.list__container a {
    display: block;
    margin: 0 10px;
    padding: 7px 10px;
    min-width: 70px;
    border: 2px solid transparent;
    border-radius: var(--border-radius-small);
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-family-main);
    text-decoration: none;
    font-weight: var(--font-bold);
    text-shadow: 0 0 2px var(--color-white);
    transition: var(--transition);

    -webkit-text-stroke-color: var(--color-yellow);
}
.list__container :global(a.active) {
    border: 2px solid var(--color-violet);
    color: var(--color-violet);
    text-shadow: none;
}