.wrapper{
    width: 300px;
    padding: var(--spacing-medium);
    margin-left: var(--spacing-large);
    background-color: rgba(0,0,0,.65);
    border-radius: var(--border-radius-medium);
    color: var(--color-white);
}
.list__container{
    margin: 0;
    padding: 0;
    list-style-type: none;

}
.list__item{
    padding: var(--spacing-ultra-small);
    margin-bottom: var(--margin-list);
    color: var(--color-white);
}
.list__title{
    text-decoration: underline;
    text-shadow: var(--text-shadow-blue);
}
@media screen and (max-width: 800px) {
    .wrapper{
        width: 100%;
        margin: 0;
        margin-top: var(--spacing-medium);
    }
}